@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MadofmgFont'; /* フォント名を定義 */
  src: url('../public/fonts/madoufmg.ttf') format('truetype'); /* フォントファイルのパスと形式 */
  font-weight: normal; /* フォントの太さを指定 */
  font-style: normal; /* フォントのスタイルを指定 */
}

:root {
  --font_size:62.5%;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "MadofmgFont", sans-serif;
  font-size: var(--font_size);
  user-select: none;
}
