
.outer-div {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    position: relative;
  }
  
  .inner-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* min-width: 100%;
    min-height: 100%; */
    width: 50dvh;
    height: 50dvh;
  }